[user]
	email = danielhuynh523@gmail.com
	name = Daniel Huynh
[credential]
	helper = "!f() { /home/hack/.vscode-server/bin/ddc367ed5c8936efe395cffeec279b04ffd7db78/node /tmp/vscode-remote-containers-9a1eb241-36d8-4fd6-8454-d4c9a830b041.js git-credential-helper $*; }; f"
